#home_head {
  background-color: #1caadf;
  width: 100%;
  height: 5.25em;
}

#home_head h2 {
  margin-left: 3%;
  float: left;
  color: white;
  font-family: 'Lobster', cursive;
}

.nav {
  float:right;
  font-size: .75em;
  margin: 1% 3% 3% 3%;
}

#nav_table td {
  padding: 4%;
}

img {
  border-radius: 8px;
}

#new_tweet {
  color: #1caadf;
  font-family: 'Lobster', cursive;im
}

.section {
  margin: auto;
  width: 75%;
}

.section a {
  padding: 5%;
}

.section p {
  margin: 3%;
}

.container {
  width: 100%;
  padding: 5%;
}

#small_avatar {
  width: 80%;
}
.index {
  margin-top: 50%;
  font-family:'Shadows Into Light', cursive;
  font-size: 20px;
  text-align: center;
  /*border: 3px solid #1CAADF;*/
  border-radius: 20px;
  width: 600px;
  margin: 10px auto;
  padding: 0px 20px 20px 20px;
}

.indexbutts {
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: orange;
  text-decoration: none;
  transition: color 0.5s;
}

#friend {
  color: green;
}

.twitterheading {
  font-family: 'Lobster', cursive;
}



.submit{
  -moz-box-shadow:inset -3px 0px 33px 2px #1CAADF;
  -webkit-box-shadow:inset -3px 0px 33px 2px #1CAADF;
  box-shadow:inset -3px 0px 33px 2px #1CAADF;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
  background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
  background-color:#1CAADF;
  -webkit-border-top-left-radius:7px;
  -moz-border-radius-topleft:7px;
  border-top-left-radius:7px;
  -webkit-border-top-right-radius:7px;
  -moz-border-radius-topright:7px;
  border-top-right-radius:7px;
  -webkit-border-bottom-right-radius:7px;
  -moz-border-radius-bottomright:7px;
  border-bottom-right-radius:7px;
  -webkit-border-bottom-left-radius:7px;
  -moz-border-radius-bottomleft:7px;
  border-bottom-left-radius:7px;
  text-indent:0px;
  border:3px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family: 'Shadows Into Light', cursive;;
  font-size:24px;
  font-weight:bold;
  font-style:normal;
  height:44px;
  line-height:44px;
  width:145px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 38px #528ecc;
}
.classname:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
  background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
  background-color:#80b5ea;
}.classname:active {
  position:relative;
  top:1px;
}

