<div class="index">
    <form class="inputfields" action="/signin" method="post">
    <!-- other form elements here -->
    <h2 class="twitterheading">Sign in</h2>
    Username
    <input type="text" name="username">
    </br>
    Password
    <input type="password" name="password"><br><br>

    <input class="submit" type="submit">
  </form>
</div>
