<div class="index">
    <form class="inputfields" action="/signup" method="post">
    <!-- other form elements here -->
    <h2 class="twitterheading">Create new user</h2>
    <p>First name</p>
    <input type="text" name="first_name">
    </br>
    <p>Last name</p>
    <input type="text" name="last_name">
    </br></br>
    <p>Username</p>
    <input type="text" name="username">
    </br>
    <p>Email</p>
    <input type="text" name="email">
    </br>
    <p>Password</p>
    <input type="password" name="password">
    </br></br>
    <input class="submit" type="submit">
  </form>
</div>
