
<div class="index">
  <h1 class="twitterheading">Tweeter, yo.</h1>
  <img src="http://i59.tinypic.com/29vc3lt.png"><br>
  <a class="indexbutts" href="/signin">Sign in</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="indexbutts" href="/signup">Sign up</a>
</div>
